@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9E9EC;
    width: 100%;
    height: 100vh;
    font-family: 'Zilla Slab', serif;
}
header{
    position: absolute;
    top: 30px;
}
.topbg{
    position: absolute;
    top: 33px;
    height: 44px;
    width: 84px;
    border-radius: 5px;
    background-color: #1D2F6F;
    left: 644px;
}
span{
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 2px;
}

q{
    width: min(80%,450px);
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 100px;
}
.qbg{
    width: min(80%,450px);
    height: 20px;
    z-index: -1;
    background-color: #FAC748;
    border-radius: 10px;
    position: absolute;
    top: 105px;
    left: 385px;
}

.clockContainer{
    width: min(80%,300px);
    height: min(30vh,200px);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 10px;
    position: relative;
}
.bg{
    width: min(80%,300px);
    height: min(30vh,200px);
    position: absolute;
    background-color: #8390FA;
    z-index: -1;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.timeContainer{
    color: black;
}
